@font-face {
  font-family: Hanuman;
  font-display: swap;
  src: url("../fonts/Hanuman-Bold.woff2") format("woff2"), url("../fonts/Hanuman-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Hanuman;
  font-display: swap;
  src: url("../fonts/Hanuman-Regular.woff2") format("woff2"), url("../fonts/Hanuman-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Hanuman";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Hanuman";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  touch-action: pan-x pan-y;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
}
body._hold {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: url("../img/other/bg-main.jpg") center/cover no-repeat;
}
.wrapper._visible {
  display: flex;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  width: 14.375rem;
  height: 5.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 230, 0, 0.7) 0%, rgba(255, 184, 0, 0.7) 100%);
  border: 3px solid #ffffff;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}
.button p {
  padding-top: 0.4375rem;
}
.button_gray {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(87, 87, 87, 0.7) 100%);
}
.button:active {
  transform: translateY(2px);
}
.button._hold {
  opacity: 0.5;
  pointer-events: none;
}
.button__inner {
  display: flex;
  align-items: center;
}
.button__inner img {
  flex: 0 0 32px;
  height: 1.875rem;
}
.button__price {
  margin-right: 0.625rem;
  margin-top: 0.4375rem;
}

.text {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.4722222222;
  color: #fff;
  text-transform: uppercase;
}

.preloader {
  background: url("../img/other/bg-main.jpg") center/cover no-repeat;
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.preloader._hide {
  display: none;
}
.preloader__button {
  width: 12.5rem;
  height: 3.25rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(87, 87, 87, 0.7) 100%);
  border: 3px solid #6d6d6d;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1.25rem;
  right: -5rem;
}
.preloader__button p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.46875;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 2.5rem;
  padding-top: 0.4375rem;
}

.acces-preloader {
  width: 100%;
  max-height: 100vh;
  padding: 2rem 3.125rem 1.25rem 2.1875rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  background: url("../img/other/bg-canvas.png") 84% -61px/108% 120% no-repeat;
}
@media (min-height: 40.625em) {
  .acces-preloader {
    background: url("../img/other/bg-canvas.png") 84% -130px/108% 120% no-repeat;
  }
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.75rem;
}

.text-pre {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #000;
}
.text-pre a {
  color: #2e4848;
}

.block-bet {
  width: 100%;
}
.block-bet._hold {
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__controls {
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 0.3125rem;
}
.block-bet__controls._hold {
  transition: all 0.6s ease 0s;
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__minus, .block-bet__plus {
  font-size: 2.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 0.8125rem;
  transition: all 0.3s ease 0s;
}
@supports (width: clamp( 2.5rem , 1.0267857143rem  +  4.2857142857vw , 3.4375rem )) {
  .block-bet__minus, .block-bet__plus {
    width: clamp( 2.5rem , 1.0267857143rem  +  4.2857142857vw , 3.4375rem );
  }
}
@supports not (width: clamp( 2.5rem , 1.0267857143rem  +  4.2857142857vw , 3.4375rem )) {
  .block-bet__minus, .block-bet__plus {
    width: calc(2.5rem + 0.9375 * (100vw - 34.375rem) / 21.875);
  }
}
.block-bet__minus:active, .block-bet__plus:active {
  transform: scale(0.97);
}
.block-bet__minus {
  margin-left: 0.625rem;
}
.block-bet__plus {
  margin-right: 0.625rem;
}
.block-bet__bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
@supports (width: clamp( 6.875rem , 4.4196428571rem  +  7.1428571429vw , 8.4375rem )) {
  .block-bet__bet {
    width: clamp( 6.875rem , 4.4196428571rem  +  7.1428571429vw , 8.4375rem );
  }
}
@supports not (width: clamp( 6.875rem , 4.4196428571rem  +  7.1428571429vw , 8.4375rem )) {
  .block-bet__bet {
    width: calc(6.875rem + 1.5625 * (100vw - 34.375rem) / 21.875);
  }
}
.block-bet__bet-header {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  padding-top: 0.3125rem;
}
.block-bet__bet-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-bet__coins {
  min-width: 3.125rem;
  position: relative;
  z-index: 2;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.45;
  color: #ffffff;
  padding: 0 0.625rem;
}
.block-bet__coins._no-money {
  animation: no-money 0.5s ease 2;
}
.block-bet__icon {
  position: relative;
  top: -0.125rem;
}

.button-back {
  display: block;
  width: 2.5625rem;
  height: 2.5625rem;
  border-radius: 50%;
  background: url("../img/icons/home.svg") center/18px 19px no-repeat, linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(87, 87, 87, 0.7) 100%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 10;
}

.check._no-money {
  animation: no-money 0.5s ease 2;
}
.check._delete-money {
  animation: delete-money 0.5s ease;
}
.check._anim-add-money {
  animation: add-money 0.5s ease 2;
}

.money {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.money__body {
  position: relative;
  right: -1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.1875rem;
  margin: 0 auto;
}
@supports (width: clamp( 10rem , 5.875rem  +  12vw , 12.625rem )) {
  .money__body {
    width: clamp( 10rem , 5.875rem  +  12vw , 12.625rem );
  }
}
@supports not (width: clamp( 10rem , 5.875rem  +  12vw , 12.625rem )) {
  .money__body {
    width: calc(10rem + 2.625 * (100vw - 34.375rem) / 21.875);
  }
}
.money__body_shop {
  align-items: flex-start;
}
@supports (right: clamp( -3.125rem , 0.0892857143rem  +  -5.7142857143vw , -1.875rem )) {
  .money__body_shop {
    right: clamp( -3.125rem , 0.0892857143rem  +  -5.7142857143vw , -1.875rem );
  }
}
@supports not (right: clamp( -3.125rem , 0.0892857143rem  +  -5.7142857143vw , -1.875rem )) {
  .money__body_shop {
    right: calc(-1.875rem + -1.25 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (width: clamp( 6.25rem , 3.3035714286rem  +  8.5714285714vw , 8.125rem )) {
  .money__body_shop {
    width: clamp( 6.25rem , 3.3035714286rem  +  8.5714285714vw , 8.125rem );
  }
}
@supports not (width: clamp( 6.25rem , 3.3035714286rem  +  8.5714285714vw , 8.125rem )) {
  .money__body_shop {
    width: calc(6.25rem + 1.875 * (100vw - 34.375rem) / 21.875);
  }
}
.money__body_game {
  height: 100%;
  right: 0rem;
  justify-content: flex-start;
}
@supports (width: clamp( 6.5625rem , 3.6160714286rem  +  8.5714285714vw , 8.4375rem )) {
  .money__body_game {
    width: clamp( 6.5625rem , 3.6160714286rem  +  8.5714285714vw , 8.4375rem );
  }
}
@supports not (width: clamp( 6.5625rem , 3.6160714286rem  +  8.5714285714vw , 8.4375rem )) {
  .money__body_game {
    width: calc(6.5625rem + 1.875 * (100vw - 34.375rem) / 21.875);
  }
}
.money__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -1.25rem;
}
.money__inner_shop {
  padding-left: 1.875rem;
}
.money__inner_game {
  padding-top: 0.3125rem;
}
.money__row {
  display: flex;
  align-items: center;
}
.money__text {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #ffffff;
}
.money__coins {
  min-width: 3.125rem;
  position: relative;
  z-index: 2;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.45;
  color: #ffffff;
  padding: 0.3125rem 0.625rem 0;
}
.money__coins_game {
  padding: 0;
}
.money__icon {
  position: relative;
  top: -0.125rem;
}

.icon-anim img._anim-icon-jump {
  animation: jump_icon 5s ease;
}
.icon-anim img._anim-icon-scale {
  animation: scale_icon 0.5s ease 2;
}
.icon-anim img._anim-icon-rotate {
  animation: rotate_icon 1.5s ease-out 1;
}

.bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(87, 87, 87, 0.7) 100%);
}
.bg_bottom {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 3px solid #6d6d6d;
  border-left: 3px solid #6d6d6d;
  border-right: 3px solid #6d6d6d;
}

.main__body {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}
.main__button-box {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 6;
}
.main__button {
  margin-top: 1.875rem;
}
@supports (margin-left: clamp( 9.375rem , -0.4464285714rem  +  28.5714285714vw , 15.625rem )) {
  .main__button {
    margin-left: clamp( 9.375rem , -0.4464285714rem  +  28.5714285714vw , 15.625rem );
  }
}
@supports not (margin-left: clamp( 9.375rem , -0.4464285714rem  +  28.5714285714vw , 15.625rem )) {
  .main__button {
    margin-left: calc(9.375rem + 6.25 * (100vw - 34.375rem) / 21.875);
  }
}
.main__items {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  position: relative;
}
.backgrounds-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.backgrounds-main__image {
  position: absolute;
}
.backgrounds-main__image_1 {
  top: 0rem;
  left: -0.9375rem;
  height: 105vh;
}
.backgrounds-main__image_1 img {
  height: 100%;
}
@supports (width: clamp( 31.25rem , 16.5178571429rem  +  42.8571428571vw , 40.625rem )) {
  .backgrounds-main__image_1 img {
    width: clamp( 31.25rem , 16.5178571429rem  +  42.8571428571vw , 40.625rem );
  }
}
@supports not (width: clamp( 31.25rem , 16.5178571429rem  +  42.8571428571vw , 40.625rem )) {
  .backgrounds-main__image_1 img {
    width: calc(31.25rem + 9.375 * (100vw - 34.375rem) / 21.875);
  }
}
.backgrounds-main__image_2 {
  width: 55%;
  top: 55%;
  left: -1.25rem;
  transform: translateY(-50%);
  padding: 0px 0px 52% 0px;
  z-index: 5;
}
.backgrounds-main__image_2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.backgrounds-main__image_3 {
  top: 1.25rem;
  left: -1.875rem;
  opacity: 0.5;
  transform: rotate(70.5deg);
  z-index: 1;
}
@supports (width: clamp( 5.3125rem , 3.25rem  +  6vw , 6.625rem )) {
  .backgrounds-main__image_3 img {
    width: clamp( 5.3125rem , 3.25rem  +  6vw , 6.625rem );
  }
}
@supports not (width: clamp( 5.3125rem , 3.25rem  +  6vw , 6.625rem )) {
  .backgrounds-main__image_3 img {
    width: calc(5.3125rem + 1.3125 * (100vw - 34.375rem) / 21.875);
  }
}
.backgrounds-main__image_4 {
  opacity: 0.5;
  top: -3.125rem;
  left: 55%;
  transform: rotate(-56deg);
  z-index: 1;
}
@supports (width: clamp( 6.25rem , 3.1071428571rem  +  9.1428571429vw , 8.25rem )) {
  .backgrounds-main__image_4 img {
    width: clamp( 6.25rem , 3.1071428571rem  +  9.1428571429vw , 8.25rem );
  }
}
@supports not (width: clamp( 6.25rem , 3.1071428571rem  +  9.1428571429vw , 8.25rem )) {
  .backgrounds-main__image_4 img {
    width: calc(6.25rem + 2 * (100vw - 34.375rem) / 21.875);
  }
}
.backgrounds-main__image_5 {
  opacity: 0.5;
  bottom: -4.6875rem;
  left: 68%;
  transform: rotate(-41deg);
  z-index: 1;
}
@supports (width: clamp( 4.5rem , 2.5357142857rem  +  5.7142857143vw , 5.75rem )) {
  .backgrounds-main__image_5 img {
    width: clamp( 4.5rem , 2.5357142857rem  +  5.7142857143vw , 5.75rem );
  }
}
@supports not (width: clamp( 4.5rem , 2.5357142857rem  +  5.7142857143vw , 5.75rem )) {
  .backgrounds-main__image_5 img {
    width: calc(4.5rem + 1.25 * (100vw - 34.375rem) / 21.875);
  }
}

.store__body {
  position: relative;
  right: -1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@supports (width: clamp( 10rem , 5.875rem  +  12vw , 12.625rem )) {
  .store__body {
    width: clamp( 10rem , 5.875rem  +  12vw , 12.625rem );
  }
}
@supports not (width: clamp( 10rem , 5.875rem  +  12vw , 12.625rem )) {
  .store__body {
    width: calc(10rem + 2.625 * (100vw - 34.375rem) / 21.875);
  }
}
.store__text {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  padding: 0.6875rem 0 1rem;
}
.store img {
  padding-bottom: 1rem;
}
@supports (width: clamp( 5rem , 1.1696428571rem  +  11.1428571429vw , 7.4375rem )) {
  .store img {
    width: clamp( 5rem , 1.1696428571rem  +  11.1428571429vw , 7.4375rem );
  }
}
@supports not (width: clamp( 5rem , 1.1696428571rem  +  11.1428571429vw , 7.4375rem )) {
  .store img {
    width: calc(5rem + 2.4375 * (100vw - 34.375rem) / 21.875);
  }
}

.shop__body {
  display: grid;
  grid-template-columns: 5fr 1fr;
  min-height: 100vh;
}
.shop__actives {
  padding: 0.9375rem;
}

.backgrounds-shop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.backgrounds-shop__image {
  position: absolute;
}
.backgrounds-shop__image_1 {
  top: 0rem;
  left: -0.9375rem;
  height: 105vh;
}
.backgrounds-shop__image_1 img {
  height: 100%;
}
@supports (width: clamp( 31.25rem , 16.5178571429rem  +  42.8571428571vw , 40.625rem )) {
  .backgrounds-shop__image_1 img {
    width: clamp( 31.25rem , 16.5178571429rem  +  42.8571428571vw , 40.625rem );
  }
}
@supports not (width: clamp( 31.25rem , 16.5178571429rem  +  42.8571428571vw , 40.625rem )) {
  .backgrounds-shop__image_1 img {
    width: calc(31.25rem + 9.375 * (100vw - 34.375rem) / 21.875);
  }
}
.backgrounds-shop__image_2 {
  bottom: -1.25rem;
  right: -3.125rem;
  z-index: 4;
}
.backgrounds-shop__image_2 img {
  max-width: 13.75rem;
}
@media (min-width: 37.5em) {
  .backgrounds-shop__image_2 img {
    max-width: 16.75rem;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 90%;
  column-gap: 1.0625rem;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(87, 87, 87, 0.7) 100%);
  border: 3px solid #6d6d6d;
  border-radius: 30px;
  margin-left: 0.625rem;
  position: relative;
  z-index: 2;
}
@supports (padding-left: clamp( 0.625rem , -5.7589285714rem  +  18.5714285714vw , 4.6875rem )) {
  .cards__body {
    padding-left: clamp( 0.625rem , -5.7589285714rem  +  18.5714285714vw , 4.6875rem );
  }
}
@supports not (padding-left: clamp( 0.625rem , -5.7589285714rem  +  18.5714285714vw , 4.6875rem )) {
  .cards__body {
    padding-left: calc(0.625rem + 4.0625 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-right: clamp( 0.625rem , -5.7589285714rem  +  18.5714285714vw , 4.6875rem )) {
  .cards__body {
    padding-right: clamp( 0.625rem , -5.7589285714rem  +  18.5714285714vw , 4.6875rem );
  }
}
@supports not (padding-right: clamp( 0.625rem , -5.7589285714rem  +  18.5714285714vw , 4.6875rem )) {
  .cards__body {
    padding-right: calc(0.625rem + 4.0625 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-top: clamp( 0.125rem , -0.6607142857rem  +  2.2857142857vw , 0.625rem )) {
  .cards__body {
    padding-top: clamp( 0.125rem , -0.6607142857rem  +  2.2857142857vw , 0.625rem );
  }
}
@supports not (padding-top: clamp( 0.125rem , -0.6607142857rem  +  2.2857142857vw , 0.625rem )) {
  .cards__body {
    padding-top: calc(0.125rem + 0.5 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-bottom: clamp( 0.125rem , -0.6607142857rem  +  2.2857142857vw , 0.625rem )) {
  .cards__body {
    padding-bottom: clamp( 0.125rem , -0.6607142857rem  +  2.2857142857vw , 0.625rem );
  }
}
@supports not (padding-bottom: clamp( 0.125rem , -0.6607142857rem  +  2.2857142857vw , 0.625rem )) {
  .cards__body {
    padding-bottom: calc(0.125rem + 0.5 * (100vw - 34.375rem) / 21.875);
  }
}
@media (min-height: 43.75em) {
  .cards__body {
    min-height: 50%;
  }
}
.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.625rem;
}
.cards__pin {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
}
.cards__image {
  position: relative;
}
@supports (width: clamp( 7.5rem , 2.0982142857rem  +  15.7142857143vw , 10.9375rem )) {
  .cards__button {
    width: clamp( 7.5rem , 2.0982142857rem  +  15.7142857143vw , 10.9375rem );
  }
}
@supports not (width: clamp( 7.5rem , 2.0982142857rem  +  15.7142857143vw , 10.9375rem )) {
  .cards__button {
    width: calc(7.5rem + 3.4375 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 2.8125rem , 0.6517857143rem  +  6.2857142857vw , 4.1875rem )) {
  .cards__button {
    height: clamp( 2.8125rem , 0.6517857143rem  +  6.2857142857vw , 4.1875rem );
  }
}
@supports not (height: clamp( 2.8125rem , 0.6517857143rem  +  6.2857142857vw , 4.1875rem )) {
  .cards__button {
    height: calc(2.8125rem + 1.375 * (100vw - 34.375rem) / 21.875);
  }
}
.cards__button p {
  font-size: 1.5625rem;
  line-height: 1.48;
  padding-top: 0.25rem;
}

.actives-shop__btn {
  margin-bottom: 0.625rem;
}
.actives-shop__button-back {
  margin-left: auto;
}
.game__body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3fr 1fr;
}
@media (min-height: 31.25em) {
  .game__body {
    grid-template-rows: 5fr 1fr;
  }
}
@media (min-height: 40.625em) {
  .game__body {
    grid-template-rows: 7fr 1fr;
  }
}
.game__btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}
.game__button-back {
  width: 1.875rem;
  height: 1.875rem;
  background: url("../img/icons/home.svg") center/13px 14px no-repeat, linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(87, 87, 87, 0.7) 100%);
}
.game__main {
  display: grid;
  grid-template-columns: 4fr 3fr;
  padding: 0.625rem;
}
.backgrounds-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.backgrounds-game__image {
  position: absolute;
}
.backgrounds-game__image_1 {
  top: 0rem;
  left: -0.9375rem;
  height: 80vh;
}
@media (min-height: 31.25em) {
  .backgrounds-game__image_1 {
    height: 70vh;
  }
}
.backgrounds-game__image_1 img {
  height: 100%;
}
@supports (width: clamp( 21.875rem , 2.2321428571rem  +  57.1428571429vw , 34.375rem )) {
  .backgrounds-game__image_1 img {
    width: clamp( 21.875rem , 2.2321428571rem  +  57.1428571429vw , 34.375rem );
  }
}
@supports not (width: clamp( 21.875rem , 2.2321428571rem  +  57.1428571429vw , 34.375rem )) {
  .backgrounds-game__image_1 img {
    width: calc(21.875rem + 12.5 * (100vw - 34.375rem) / 21.875);
  }
}

.table {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1.25rem 2.5rem 1.25rem 1.875rem;
}
@media (min-height: 31.25em) {
  .table {
    padding: 2.1875rem 3.125rem 1.875rem 2.5rem;
  }
}
.table__row {
  vertical-align: bottom;
}
.table__row:nth-child(even) {
  background-color: rgba(116, 81, 81, 0.1);
}
.table__row._active {
  animation: color_blik 0.4s ease-in-out 5 forwards;
}
.table__text {
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1.4545454545;
  color: #291713;
}
.table__icon {
  width: 100%;
  height: 1.25rem;
}
.table__icon_1 {
  background: url("../img/icons/coin-2.png") center/20px 19px no-repeat;
}
.table__icon_2 {
  background: url("../img/icons/coin-2.png") 60%/20px 19px no-repeat, url("../img/icons/coin-2.png") 30%/20px 19px no-repeat;
}
.table__icon_3 {
  background: url("../img/icons/coin-2.png") 80%/20px 19px no-repeat, url("../img/icons/coin-2.png") 50%/20px 19px no-repeat, url("../img/icons/coin-2.png") 20%/20px 19px no-repeat;
}
.table__icon_4 {
  background: url("../img/icons/coin-2.png") 85%/20px 19px no-repeat, url("../img/icons/coin-2.png") 60%/20px 19px no-repeat, url("../img/icons/coin-2.png") 35%/20px 19px no-repeat, url("../img/icons/coin-2.png") 10%/20px 19px no-repeat;
}
.table__icon_5 {
  background: url("../img/icons/coin-2.png") 85%/20px 19px no-repeat, url("../img/icons/coin-2.png") 65%/20px 19px no-repeat, url("../img/icons/coin-2.png") 45%/20px 19px no-repeat, url("../img/icons/coin-2.png") 25%/20px 19px no-repeat, url("../img/icons/coin-2.png") 5%/20px 19px no-repeat;
}
.table__name {
  font-size: 0.5625rem;
  line-height: 1.3333333333;
  color: #291713;
}
@media (min-height: 21.875em) {
  .table__name {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}
.table__number {
  font-size: 0.5rem;
  line-height: 1.375;
  color: #291713;
  text-align: center;
}
@media (min-height: 21.875em) {
  .table__number {
    font-size: 0.6875rem;
    line-height: 1.4545454545;
  }
}

.cards-game__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  position: relative;
  z-index: 5;
}
.cards-game__button-box {
  display: flex;
  justify-content: center;
}
.cards-game__button {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(87, 87, 87, 0.7) 100%);
  border: 3px solid #ffffff;
  border-radius: 30px;
  position: relative;
  top: 0;
  transition: all 0.3s ease 0s;
}
.cards-game__button._hide {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  top: -0.625rem;
}
.cards-game__button:active {
  transform: scale(0.97);
}
.cards-game__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (padding-top: clamp( 0.75rem , -0.2321428571rem  +  2.8571428571vw , 1.375rem )) {
  .cards-game__inner {
    padding-top: clamp( 0.75rem , -0.2321428571rem  +  2.8571428571vw , 1.375rem );
  }
}
@supports not (padding-top: clamp( 0.75rem , -0.2321428571rem  +  2.8571428571vw , 1.375rem )) {
  .cards-game__inner {
    padding-top: calc(0.75rem + 0.625 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-bottom: clamp( 0.75rem , -0.2321428571rem  +  2.8571428571vw , 1.375rem )) {
  .cards-game__inner {
    padding-bottom: clamp( 0.75rem , -0.2321428571rem  +  2.8571428571vw , 1.375rem );
  }
}
@supports not (padding-bottom: clamp( 0.75rem , -0.2321428571rem  +  2.8571428571vw , 1.375rem )) {
  .cards-game__inner {
    padding-bottom: calc(0.75rem + 0.625 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-right: clamp( 0.75rem , -0.0357142857rem  +  2.2857142857vw , 1.25rem )) {
  .cards-game__inner {
    padding-right: clamp( 0.75rem , -0.0357142857rem  +  2.2857142857vw , 1.25rem );
  }
}
@supports not (padding-right: clamp( 0.75rem , -0.0357142857rem  +  2.2857142857vw , 1.25rem )) {
  .cards-game__inner {
    padding-right: calc(0.75rem + 0.5 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-left: clamp( 0.75rem , -0.0357142857rem  +  2.2857142857vw , 1.25rem )) {
  .cards-game__inner {
    padding-left: clamp( 0.75rem , -0.0357142857rem  +  2.2857142857vw , 1.25rem );
  }
}
@supports not (padding-left: clamp( 0.75rem , -0.0357142857rem  +  2.2857142857vw , 1.25rem )) {
  .cards-game__inner {
    padding-left: calc(0.75rem + 0.5 * (100vw - 34.375rem) / 21.875);
  }
}
.cards-game__text {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.48;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}
.cards-game__cards-box {
  position: relative;
  z-index: 5;
}
.cards-game__cards {
  display: flex;
  justify-content: space-between;
}
.cards-game__image-box {
  position: relative;
}
@supports (width: clamp( 2.5rem , -0.7083333333rem  +  9.3333333333vw , 5.125rem )) {
  .cards-game__image-box {
    width: clamp( 2.5rem , -0.7083333333rem  +  9.3333333333vw , 5.125rem );
  }
}
@supports not (width: clamp( 2.5rem , -0.7083333333rem  +  9.3333333333vw , 5.125rem )) {
  .cards-game__image-box {
    width: calc(2.5rem + 2.625 * (100vw - 34.375rem) / 28.125);
  }
}
@supports (height: clamp( 3.875rem , -0.8611111111rem  +  13.7777777778vw , 7.75rem )) {
  .cards-game__image-box {
    height: clamp( 3.875rem , -0.8611111111rem  +  13.7777777778vw , 7.75rem );
  }
}
@supports not (height: clamp( 3.875rem , -0.8611111111rem  +  13.7777777778vw , 7.75rem )) {
  .cards-game__image-box {
    height: calc(3.875rem + 3.875 * (100vw - 34.375rem) / 28.125);
  }
}
.cards-game__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 2000px;
}
.cards-game__image._rotate .head {
  animation: front-rotation 0.5s linear forwards;
}
.cards-game__image._rotate .tail {
  animation: back-rotation 0.5s linear forwards;
}
.cards-game__image._unrotate .head {
  animation: front-rotation-back 0.5s linear forwards;
}
.cards-game__image._unrotate .tail {
  animation: back-rotation-back 0.5s linear forwards;
}
@supports (width: clamp( 2.5rem , -0.7083333333rem  +  9.3333333333vw , 5.125rem )) {
  .cards-game__image img {
    width: clamp( 2.5rem , -0.7083333333rem  +  9.3333333333vw , 5.125rem );
  }
}
@supports not (width: clamp( 2.5rem , -0.7083333333rem  +  9.3333333333vw , 5.125rem )) {
  .cards-game__image img {
    width: calc(2.5rem + 2.625 * (100vw - 34.375rem) / 28.125);
  }
}
.cards-game__coin {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  opacity: 0;
  transition: all 0.6s ease 0s;
  z-index: 6;
}
.cards-game__coin._active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}
.cards-game__coin img {
  width: 3rem;
}

.tail {
  transform: rotateY(180deg);
}

.tail,
.head {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.tail._hide,
.head._hide {
  opacity: 0;
  visibility: hidden;
}

.footer-game {
  display: flex;
  align-items: flex-end;
}
.footer-game__body {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  column-gap: 0.625rem;
  min-height: 2.5rem;
  width: 100%;
}
@media (min-width: 40.625em) {
  .footer-game__body {
    min-height: 3.4375rem;
  }
}
.footer-game__win-box {
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer-game__win-box-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
  font-size: 2rem;
  line-height: 1.46875;
  color: #ffb800;
  padding-top: 0.5rem;
  position: relative;
  top: 20px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.footer-game__win-box-inner._active {
  top: 0px;
  opacity: 1;
}
.footer-game__win-box-inner img {
  position: relative;
  top: -0.25rem;
}
@keyframes no-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes delete-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 155, 155);
    transform: translateY(3px);
  }
}
@keyframes add-money {
  100% {
    color: yellow;
    transform: translateY(-3px);
  }
}
@keyframes show_item_y {
  100% {
    transform: translateY(0);
    top: 0;
    opacity: 1;
  }
}
@keyframes show_item_y_controls {
  100% {
    transform: translateY(-10px);
    top: 0;
    opacity: 1;
  }
}
@keyframes show_item_x {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes jump_icon {
  0%, 69% {
    transform: translate(0, 0);
  }
  77% {
    transform: translate(0, -10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  82% {
    transform: translate(0px, -6px);
  }
  85% {
    transform: translate(0px, 0px);
  }
  87% {
    transform: translate(0px, -2px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes scale_icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes rotate_icon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes blik_item {
  0%, 98% {
    background: #000000;
  }
  99% {
    background: #545252;
  }
  100% {
    background: #000000;
  }
}
@keyframes front-rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes back-rotation {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes front-rotation-back {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes back-rotation-back {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes color_blik {
  100% {
    background-color: rgba(235, 232, 126, 0.6);
  }
}
